<div>
    <form ng-submit="main.extract($event)" autocomplete="off">
        <div class="form-group has-success">
            <label class="control-label" for="album">Link:</label>
            <input name="link" type="text" ng-model="main.link" class="form-control" id="album" />
        </div>
        <div class="form-group has-success">
            <label class="control-label" for="album">Token:</label>
            <input type="text" ng-model="main.token" class="form-control" />
        </div>
        <div class="form-group has-success center">
            <button ng-disabled="main.inProgress || !main.link" id="btn-go" type="submit" name="btn" class="btn btn-success" ng-bind="main.inProgress ? 'In progress...' : 'Get posts'"></button>
        </div>

    </form>

    <div class="list-group">
      <div class="well" ng-repeat="post in main.posts">
        <a target="_blank" href="{{ post.plink }}">
            <h4 class="list-group-item-heading">{{ post.from.name }}</h4>
        </a>
        <div title="{{ post.created }}">{{ post.created_time }}</div>

        <div ng-if="post.picture">
            <img src="{{ post.picture }}" />
        </div>
        <br/>
        <p style="white-space: pre-line;" class="list-group-item-text">{{ post.message }}</p>
      </div>
    </div>

    <div class="form-group has-success center">
        <button id="btn-go" ng-click="main.next()" name="btn" class="btn btn-warning" >Next</button>
    </div>

</div>
